<html>
<head>
	<link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<style>
		body {
	    padding-top: 60px;
	    padding-bottom: 40px;
		}
		.jumbotron h1 {
			font-size: 64px;
			line-height: 1;
		}
		.jumbotron p.lead {
			margin-top: 24px;
			margin-bottom: 72px;
		}
	</style>
</head>
<body>
	
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="http://serendipityengineapp.com">Serendipty Engine</a>
        <div class="nav-collapse collapse pull-right">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/about">About</a></li>
            <li><a href="http://twitter.com/akuhn">@akuhn</a></li>
            <li class="dropdown">
              <a href="/vancouver" class="dropdown-toggle" data-toggle="dropdown">Vancouver <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="nav-header">Coming soon</li>
                <li><a href="#">Beijing</a></li>
                <li><a href="#">Paris</a></li>
                <li><a href="#">Rome</a></li>
                <li><a href="#">San Francisco</a></li>
              </ul>
            </li>
          </ul>
        </div>
	</div>  
    </div>
  </div>
	
    <div class="container">
			<div class="jumbotron hero-unit">
				<h1>serendipityengine<span style="color:gray">app.com</span></h1>
				<p class="lead">Your personal travel assistant!
					<br>
					&nbsp;
					<br>
					This page has been created by <a href="http://twitter.com/akuhn">@akuhn</a>
					<br>
					&nbsp;
					<br>
					Check my <a href="http://linkedin.com/in/adriankuhn">LinkedIn</a> 
				</p>	
			</div>
			
		</div>	

</body>		
</html>


