<html>
<head>
	<link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<style>
		body {
	    padding-top: 60px;
	    padding-bottom: 40px;
		}
		.jumbotron {
			text-align: center;
		}
		.jumbotron h1 {
			font-size: 48px;
		}
		.jumbotron p {
			margin: 24px;
		}
		</style>
</head>
<body>
	
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="http://serendipityengineapp.com">Serendipty Engine</a>
        <div class="nav-collapse collapse pull-right">
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="http://twitter.com/akuhn">@akuhn</a></li>
            <li class="dropdown">
              <a href="/vancouver" class="dropdown-toggle" data-toggle="dropdown">Vancouver <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="nav-header">Coming soon</li>
                <li><a href="#">Beijing</a></li>
                <li><a href="#">Paris</a></li>
                <li><a href="#">Rome</a></li>
                <li><a href="#">San Francisco</a></li>
              </ul>
            </li>
          </ul>
        </div>
	</div>  
    </div>
  </div>
	
    <div class="container">
			<div class="jumbotron hero-unit">
				<h1>Your card has been charged. Not.</h1>
				<p class="lead">
					We were just kidding, there's no premium membership :)
				<p>
				<p>		
					<iframe width="640" height="360" src="http://www.youtube.com/embed/etrhpET0_a0" frameborder="0" allowfullscreen autoplay></iframe>
				</p>	
			</div>
			
		</div>	

</body>		
</html>


