<html>
<head>
	<link href="static/bootstrap/css/bootstrap.css" rel="stylesheet" />
	<link href="static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
	<style>
		body {
			padding-top: 60px;
		}	
		.square {
		    display: inline-block;
		    position: relative;
		    width: 100%;
		}
		.square_ratio {
		    margin-top: 100%;
		}
		.square_div {
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
				background: silver;
		}
	</style>
</head>
<body onload="initialize()">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Serendipty Engine</a>
          <div class="nav-collapse collapse pull-right">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
          </div>
		</div>  
      </div>
    </div>
	
	<div class="container">
		<div class="row">
			<div class="span6">
				<div class="square">
				    <div class="square_ratio"></div>
				    <div id="map_canvas" class="square_div">
				    </div>
				</div>
			</div>
			<div class="span6">
				<h1>Adrian&#8217;s Day in Vancouver</h1>
			</div>
		</div>				
	</div>

	<script src="static/bootstrap/js/bootstrap.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script>
		function initialize() {
			var mapOptions = {
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				center: new google.maps.LatLng(49.285, -123.13),
				zoom: 13,
				disableDefaultUI: true,
				zoomControl: true,
				panControl: true
			};
			var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
		
			$.getJSON('/vancouver/paths', function(data) { 
				data.paths.forEach(function(path) {
					var polyline = []
					path.forEach(function(each) {
						polyline.push(new google.maps.LatLng(each[0],each[1]))
					})
			        new google.maps.Polyline({
			          path: polyline,
			          strokeColor: '#FF0000',
			          strokeOpacity: 0.5,
			          strokeWeight: 1
			        }).setMap(map);
				})
			})
		
			$.getJSON('/vancouver/sights', function(data) {
				data.sights.forEach(function(each) {
					if (each.category != 'sights') return
			        var marker = new google.maps.Marker({
			            position: new google.maps.LatLng(each.latitude,each.longitude),
			            map: map,
			            title: each.name
			        })
				})
			})
		
		}
	</script>
</body>		